
// compileCompressed: ../../../public/admin/css/admin.css
//public style
*,
*:before,
*:after
    box-sizing: border-box
h1,h2,h3,h4,h5,h6,p,body,html,ul
    margin: 0
    padding: 0
a
    text-decoration: none
    color: inherit
    &:hover,
    &:visited,
    &:focus
        text-decoration: none
    &:focus
        color: inherit

ul
    list-style: none
body
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif


// variable
$profile-bg : #A48AD4
$nav-bg: #323544
$nav-color: #97999F
$nav-active-bg : #1E202C
$nav-active-color : #fff
$content-bg: #F6F6F6
$nav-icon: #53ACBE
$left-width: 250px
$up-height: 90px


// table grid
.col-left
    float: left
    width: $left-width
.col-right
    float: left
    width: calc(100% - #{$left-width})

@mixin inline($d)
    height: $d
    line-height: $d
@mixin square($d)
    height: $d
    width: $d
@mixin circle($d)
    height: $d
    width: $d
    border-radius: 50%



body,html
    background: $content-bg
    height: 100%
.user
    background: $profile-bg
    height: $up-height
    text-align: center
    line-height: $up-height
.user .face
    width: 80px
    height: 80px
    border-radius: 50%
    background: #ccc
    overflow: hidden
    display: inline-block
    vertical-align: middle
    margin-right: 10px
.face img
    width: 100%
    height: 100%
    vertical-align: top
    // prevent it drop down
.name
    height: 100%
    display: inline-block
    color: #fff
    font-weight: 700
    font-size: 23px
    vertical-align: top


.full-height
    height: 100%

.fix-height
    height: calc(100% - #{$up-height})
.nav-wrap
    background: $nav-bg
    height: 100%
    &>ul
        height: 100%

.nav-v
    .acitve-class a
        background: $nav-active-bg
        color: $nav-active-color
        border-left: 3px solid $profile-bg
        box-shadow: inset 0 0 5px rgba(#000,0.4)
        &:i
            color: $nav-icon
    li a:hover
        background: $nav-active-bg
        color: $nav-active-color
    li a:hover i
        color: $nav-icon
    li a
        transition: all 100ms linear
        color: $nav-color
        height: 50px
        display: block
        height: 100%
        width: 100%
        font-size: 18px
        text-decoration: none
        line-height: 50px
        padding-left: 40px
        cursor: pointer
        border-left: 3px solid transparent
    li a i
        transition: inherit
        margin-right: 15px
        font-size: 20px
    // .sub-nav
    //     height: 100%
    //     width: 100%
    //     color: #64676F
    //     background: #333645
    //     a
    //         height: 40px
    //         padding-left: 85px
    //         line-height: 40px
    //         font-size: 15px
.view
    width: 100%
    height: 100%
    overflow: hidden

.title-bar
    font-size: 18px
    height: $up-height
    width: 100%
    line-height: $up-height
    padding-left: 30px
    // margin: 0 -30px
    background: #fff
    overflow: hidden
    .divider
        width: 2px
        height: 1em
        background: #000
        display: inline-block
        vertical-align: baseline
        margin: 0 5px
    .logo
        font-size: 40px
        margin-right: 10px
    .item-name
        color: $profile-bg
    .sign-out
        float: right
        margin-right: 40px
        color: gray
        cursor: pointer
        font-size: 16px
        padding-top: 10px


//　product
.product-table
    td,th
        text-align: center
        vertical-align: middle !important
.product-head
    background: #53B4C4
    @include inline(40px)
    color: #fff
    text-align: center
    th
        text-align: center
.goto-edit
    width: 100px

.edit
    position: relative
    padding-top: 20px
    input[type="text"],
    textarea
        width: 70%
        background: #fff
        border: 1px solid #ccc
        &:focus
            outline: none

    input[type="text"]
        height: 30px
    textarea
        height: 50px
    label
        font-size: 18px
.edit-submit
    position: absolute
    right: 50px
    bottom: 20px
    input
        width: 100px
.alert-position
    position: absolute
    top: 0
    right: 0
    text-align: center
    border-radius: 10px 0 0 10px
    transform: translate3d(100%,0,0)
    transition: transform 200ms linear
.alert-in
    transform: translate3d(0,0,0)


.loading
    @include square(100%)
    position: relative
    // background: rgba(#000,0.3)
    .content
        margin-top: -100px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        // @include square(50px)
        width: 100px
        text-align: center
    p
        font-size: 25px
        margin-bottom: 20px
        color: #4285F4
        animation: loading-color 10s linear infinite
    span
        display: inline-block
        margin: 0 3px
        @include  circle(16px)
        background: #555
    @for $i  from 1 through  4
        span:nth-of-type( #{$i} )
            animation: loading 600ms linear infinite
            animation-delay: $i * 200ms - 200ms
    @keyframes loading
        50%
            transform: translate3d(0,10px,0)
    @keyframes loading-color
        0%
            color: #4285F4
        25%
            color: #34A853
        50%
            color: #FBBC05
        75%
            color: #EA4335


    span:nth-of-type(1)
        background: #4285F4
    span:nth-of-type(2)
        background: #34A853
    span:nth-of-type(3)
        background: #FBBC05
    span:nth-of-type(4)
        background: #EA4335

.table-input
    height: 100%
    width: 60px
    background: inherit
    border: none
    outline: none
