footer
	ul 
		li
			span.copyright Copyright &copy; 2016-2016 
			span.powerd Powerd By 
				a(href="#") Larvel,
				| Host on 
				a(href="#") <span class="fa fa-github"></span> Github
		li
			.author Authors:
				a(href="" title="BackEnd") Many Hong 
				| & 
				a(href="" title="FrontEnd") Quill Jou
