nav.nav
	.wrap 
		.nav-container
			.dropdown-allgoods
				a(href="javascript:;") 全部商品分类
					span.fa.fa-angle-down.icon-dropdown
			ul.navitems
				li
					a(href="") 数码城
				li
					a(href="") 天黑黑
				li
					a(href="") 团购
				li
					a(href="") 发现
				li
					a(href="") 二手特卖
				li
					a(href="") 名品会
