.process
	.wrap
		.main-info.fl
			span.logo 
				a(href="") Many&All
			span.divider
			span.info
				| {{ }}
		.steps.fr 
			.step-1 1
			.step-2 2
			.step-3 3
			p
				span 我的购物车
				span 填写核对订单	
				span 订单提交成功
