nav.status-bar
	.wrap
		.profile 
			a(href="") 
				span.fa.fa-user.icon-user
				| 个人中心
		.signup
			a(href="") 登录
		.login
			a(href="") 注册
		.shoppingcart 
			a(href="") 
				span.fa.fa-shopping-cart.icon-shopping-cart
				| 购物车
