*,
*:before,
*:after {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, body, html, ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:visited, a:focus {
    text-decoration: none; }
  a:focus {
    color: inherit; }

ul {
  list-style: none; }

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

.col-left {
  float: left;
  width: 250px; }

.col-right {
  float: left;
  width: calc(100% - 250px); }

body, html {
  background: #F6F6F6;
  height: 100%; }

.user {
  background: #A48AD4;
  height: 90px;
  text-align: center;
  line-height: 90px; }

.user .face {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ccc;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.face img {
  width: 100%;
  height: 100%;
  vertical-align: top; }

.name {
  height: 100%;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 23px;
  vertical-align: top; }

.full-height {
  height: 100%; }

.fix-height {
  height: calc(100% - 90px); }

.nav-wrap {
  background: #323544;
  height: 100%; }
  .nav-wrap > ul {
    height: 100%; }

.nav-v .acitve-class a {
  background: #1E202C;
  color: #fff;
  border-left: 3px solid #A48AD4;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); }
  .nav-v .acitve-class a:i {
    color: #53ACBE; }

.nav-v li a:hover {
  background: #1E202C;
  color: #fff; }

.nav-v li a:hover i {
  color: #53ACBE; }

.nav-v li a {
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  color: #97999F;
  height: 50px;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  line-height: 50px;
  padding-left: 40px;
  cursor: pointer;
  border-left: 3px solid transparent; }

.nav-v li a i {
  -webkit-transition: inherit;
  transition: inherit;
  margin-right: 15px;
  font-size: 20px; }

.view {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.title-bar {
  font-size: 18px;
  height: 90px;
  width: 100%;
  line-height: 90px;
  padding-left: 30px;
  background: #fff;
  overflow: hidden; }
  .title-bar .divider {
    width: 2px;
    height: 1em;
    background: #000;
    display: inline-block;
    vertical-align: baseline;
    margin: 0 5px; }
  .title-bar .logo {
    font-size: 40px;
    margin-right: 10px; }
  .title-bar .item-name {
    color: #A48AD4; }
  .title-bar .sign-out {
    float: right;
    margin-right: 40px;
    color: gray;
    cursor: pointer;
    font-size: 16px;
    padding-top: 10px; }

.product-table td, .product-table th {
  text-align: center;
  vertical-align: middle !important; }

.product-head {
  background: #53B4C4;
  height: 100px;
  line-height: 100px;
  color: #fff;
  text-align: center; }
  .product-head th {
    text-align: center; }

.goto-edit {
  width: 100px; }

.edit {
  position: relative;
  padding-top: 20px; }
  .edit input[type="text"],
  .edit textarea {
    width: 70%;
    background: #fff;
    border: 1px solid #ccc; }
    .edit input[type="text"]:focus,
    .edit textarea:focus {
      outline: none; }
  .edit input[type="text"] {
    height: 30px; }
  .edit textarea {
    height: 50px; }
  .edit label {
    font-size: 18px; }

.edit-submit {
  position: absolute;
  right: 50px;
  bottom: 20px; }
  .edit-submit input {
    width: 100px; }

.alert-position {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  border-radius: 10px 0 0 10px;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear; }

.alert-in {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*# sourceMappingURL=admin.css.map */
