.nav
    position: relative
    overflow: hidden
    .bg-bar
        background: $lignt-blue
        width: 100%
        position: absolute
    .dt,.navitems,.bg-bar
        height: 38px
        overflow: hidden
        color: snow
        text-align: center
    .allgoods
        float: left
        line-height: 38px
        font-size: 18px
        .dt
            background: #4aadac
        .dt,.dd
            width: 210px
            display: block
        .dt,.item>a
            padding-left: 20px
            text-align: left
        .dd
            float: left

        .item
            height: 33px
            line-height: 33px
            // overflow: hidden
            background: $lignt-blue
            font-size: 14px
            color: #fff
            &>a
                display: block
                line-height: inherit
                i
                    display: inline-block
                    width: 10px
                    height: 100%
                    line-height: inherit
                    float: right
                    font-size: 17px
                    padding-right: 15px
        .hover
            background: $dark-blue
            i
                visibility: hidden
    .sub-items
        z-index: 1
        float: left
        margin-top: 38px
        .sub
            z-index: 1
            padding: 15px 0 0 20px
            width: 1200px - 210px
            border: 1px solid $dark-blue
            position: absolute
            background: #F7F7F7
        dl
            overflow: hidden
            padding: 8px 0
        dt
            font-size: 17px
            width: 60px
            float: left
            a
                margin-right: 5px

        dd
            float: left
            font-size: 14px
            width: 700px
            border-bottom: 1px solid #ddd
            // margin-left: 60px
            a
                float: left
                color: #444
                border-left: 1px solid #555
                padding: 0px 19px
                margin-bottom: 5px
        // dt,dd
        //     display: inline-block
    .navitems
        overflow: hidden
        position: absolute
        width: 100%
        margin-left: 210px
        li
            float: left
            width: 100px
            a
                display: block
                @include inline(38px)
            &:hover
                background: $dark-blue
    .slider
        height: 495px
        width: 1200px - 210px
        background: tan
        float: left
        margin-top: 38px
        position: relative
        .view
            top: 0
            left: 0
            position: absolute
            overflow: hidden
            @include square(100%,transparent)
        .btn-control
            position: absolute
            width: 100%
            bottom: 8px
            text-align: center
            span
                display: inline-block
                @include square(25px)
                background: $dark-blue
                color: #fff
                margin: 0 3px
                text-align: center
                line-height: 21px
                border: 2px solid transparent
            .active
                background: #fff
                color: $dark-blue
                border: 2px solid currentColor
        .dir-control .left,.right
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            color: $dark-blue
            font-size: 60px
            width: 40px
            text-align: center
            @include inline(90px)
            background: rgba(0,0,0,0.3)
            opacity: 0.8
            &:hover
                opacity: 1
        .right
            right: 0
            left: initial

        a
            display: block
            @include square(100%,transparent)
            img
                width: 1200px - 210px
                height: 495px
        ul
            overflow: hidden
            position: absolute
            top: 0
            left: 0
            transition: all 400ms linear
        li
            float: left
            height: 100%
