<!DOCTYPE html>
html(lang="en")
	include includes/head.jade
	body
		.page-checkout
			include includes/status.jade
			include includes/process.jade
			.wrap
				.order-form
					.order-address
						.order-header 收货地址
						form(action="" id="form-address")
							ul
								li
									label(for="district") 选择地区
									input(type="text" id="district")
								li
									label(for="detail-address") 详细地址
									input(type="text" id="detail-address")
								li
									label(for="owner") 收货人
									input(type="text" id="owner")
								li.contact
									label(for="mobile") 手机号码
									input(type="text" id="mobile")
									label(for="fixed") 或固定电话
									input(type="text" id="fixed")
								li
									input(type="submit" value="确认收货地址")
					.order-payment
						.order-header 支付方式
						form(action="")
							ul
								li 
									span.fa.fa-wechat
									| 微信支付
								li
									span.fa.fa-alipay
									| 支付宝支付
					.order-list
						.order-header 订单详情
							a.back-to-cart(href="") 返回购物车修改
						.list-header 
							.col-name 商品名称
							.col-single-price 单价
							.col-return 返现
							.col-number 数量
							.col-subtotal 小计
						ul 
							li
								.col-name 
									.item-img
										img(src="http://placehold.it/80x80")
									.item-msg iPhone 8s 土豪金 128G 大容量
								.col-single-price $999
								.col-return $0
								.col-number 1
								.col-subtotal $999
					.order-checkout 
						.order-header 订单结算
						.total
							.total-number 总计:
								span $999
							a(href=) 提交订单
		include includes/footer.jade
