<!DOCTYPE html>
html(lang="en")
	include includes/head.jade
	body
		.page-index
			include includes/status.jade
			include includes/logo-search.jade
			include includes/nav.jade
			include includes/footer.jade
