<!DOCTYPE html>
html(lang="en")
	include includes/head.jade
	body
		.page-login
			.banner
				.wrap
					.banner-container
						.logo
							a(href="#") Many&All
						.welcome 欢迎登录
			.login-form
				.wrap
					.login-form-container
						.left-img
						.right-form
							.form-header 账户登录
							form(action="" id="login-form")
								ul
								li.user
									label(for="user") 
										span.fa.fa-user.icon
									input(type="text" id="user" placeholder="邮箱/用户名/已验证手机" required)
								li.pwd                        
									label(for="pwd") 
										span.fa.fa-lock.icon
									input(type="password" id="pwd" placeholder="密码" required)
								li.login-options
									ul
										li
											input(type="checkbox" id="auto-login")
											label(for="auto-login") 自动登录
										li
											a(href="forget-pwd") 忘记密码?

								li.btn-login
									input(type="submit" value="登录")
								li
									.other-login
										p 使用合作网站账号登录:
										ul
											li
												span.fa.fa-qq.icon-qq 
												a(href="") QQ
											li
												span.fa.fa-weibo.icon-weibo 
												a(href="") 微博
											li
												span.fa.fa-wechat.icon-wechat 
												a(href="") 微信
									.link-to-signup
										a(href="") 免费注册
		include includes/footer.jade                
