<!DOCTYPE html>
html(lang="en")
	include includes/head.jade
	body
		.page-shoppingcart
			include includes/status.jade
			include includes/process.jade
			.wrap
				.shopping-cart-container
					.cart-header
						.col-select
							input(type="checkbox" id="allSelect") 
							label(for="allSelect")全选
						.col-goods 商品
						.col-unit-price 单价(元)
						.col-number  数量
						.col-subtotal 小计
						.col-opreation 操作
					.cart-list
						ul
							li
								.col-select
									input(type="checkbox")
								.col-goods
									a(href="")
										img(src="http://placehold.it/80x80")
									.goods-msg
										| 八星八箭镶钻大菜刀 128g
								.col-unit-price 9999
								.col-number  1
								.col-subtotal 9999
								.col-opreation 
									a(href="") 删除

			include includes/footer.jade    
